@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@layer base
{
  h3 {
    font-size: larger
  ;  font-weight: bold
}}

@media screen(tablet)  {   .card-body, .threshold-inputs
{
  display: grid;
  @apply gap-4

  
}
.dropdown .btn {
  width: 100%;
}
.dropdown-content {
  width: 100% !important;
}}

@media screen(desktop, laptop)  {   .card-body, .threshold-inputs
{
  display: flex
}

.dropdown-content {@apply w-52}

}

.btn.delete-threshold {
 background-color: theme('colors.danger-red')
}

#display-ballot {@apply grid container}

#edit-ballot-type {@apply flex max-w-xs place-self-end}

.threshold-box {
@apply  stats shadow mb-4 place-self-center;
;
}
.modal-box{
  @apply relative w-2/3 max-w-7xl h-2/3 card card-bordered
}
.card-body
{
  @apply container}

.dropdown-content {@apply menu p-2 shadow bg-base-100 rounded-box}

